*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 50%; }
  @media (min-width: 910px) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.ao-l-header {
  background-color: #1e5d69;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  align-items: center; }
  @media (min-width: 600px) {
    .ao-l-header {
      flex-direction: row;
      justify-content: space-between; } }

.ao-l-connect {
  display: flex;
  flex-direction: column;
  padding: 0 5%; }

.ao-l-adventureSection {
  background-image: linear-gradient(rgba(0, 147, 175, 0.9), rgba(0, 147, 175, 0.3)), url(../../images/img-bg-adventure.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
  padding: 20rem 5%; }
  @media (min-width: 600px) {
    .ao-l-adventureSection {
      padding: 10rem 5%; } }

.ao-l-popularSection {
  padding: 10rem 5%;
  text-align: center; }

.ao-c-logoBox {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1rem 0 0 0; }
  @media (min-width: 600px) {
    .ao-c-logoBox {
      padding: 1rem 0; } }

.ao-c-logoBox__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff; }

.ao-c-logoBox__text {
  text-transform: uppercase;
  font-size: 1.6rem;
  padding-left: 1rem; }

.ao-c-navigation {
  padding: 1rem 0;
  align-items: center; }
  @media (min-width: 600px) {
    .ao-c-navigation {
      width: 50%; } }

.ao-c-navigation__list {
  list-style: none; }
  @media (min-width: 600px) {
    .ao-c-navigation__list {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%; } }

.ao-c-navigation__item {
  text-align: center; }
  .ao-c-navigation__item:not(:last-child) {
    margin-bottom: 1rem; }
    @media (min-width: 600px) {
      .ao-c-navigation__item:not(:last-child) {
        margin-bottom: 0; } }

.ao-c-navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem; }

.ao-c-search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem 0; }

.ao-c-search__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: #fff; }

.ao-c-search__text {
  font-size: 1.6rem;
  padding-left: .5rem; }

.ao-c-title {
  color: #1e5d69;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  margin: 4rem 0 5rem 0; }
  @media (min-width: 600px) {
    .ao-c-title {
      font-size: 4rem; } }
  @media (min-width: 910px) {
    .ao-c-title {
      margin: 6.5rem 0 7.5rem 0;
      font-size: 4rem; } }

.ao-c-content {
  margin-bottom: 6rem; }
  @media (min-width: 910px) {
    .ao-c-content {
      display: flex;
      justify-content: space-between; } }

.ao-c-textBox {
  margin-bottom: 6rem; }
  @media (min-width: 600px) {
    .ao-c-textBox {
      flex: 0 0 49%;
      margin-bottom: 0; } }

.ao-c-textBox__topBox {
  margin-bottom: 6rem; }

.ao-c-heading {
  color: #1e5d69;
  font-size: 1.8rem;
  margin-bottom: 2.5rem; }

.ao-c-text {
  font-size: 1.3rem; }

.ao-c-textBox__bottomBox {
  margin-bottom: 3rem; }

@media (min-width: 600px) {
  .ao-c-imageBox {
    flex: 0 0 49%; } }

.ao-c-connectimage {
  width: 100%; }

.ao-c-adventureSection__heading {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 7rem; }

.ao-c-adventureSection__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (min-width: 600px) {
    .ao-c-adventureSection__wrap {
      justify-content: space-evenly; } }

.ao-c-adventureSection__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 3rem;
  text-align: center;
  flex: 0 0 80%; }
  @media (min-width: 600px) {
    .ao-c-adventureSection__card {
      flex: 0 0 40%; } }
  @media (min-width: 910px) {
    .ao-c-adventureSection__card {
      flex: 0 0 22%;
      margin-bottom: 0; } }

.ao-c-adventureSection-card__icon {
  margin: 3rem 0;
  width: 5rem;
  height: 5rem;
  fill: #1e5d69; }

.ao-c-adventureSection__title {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #1e5d69;
  margin-bottom: 3rem; }

.ao-c-adventureSection__text {
  padding: 0 1rem;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 4rem; }

.ao-c-popularSection__heading {
  font-size: 3rem;
  color: #1e5d69;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7rem; }

@media (min-width: 910px) {
  .ao-c-popularSection__wrap {
    display: flex;
    justify-content: space-between; } }

.ao-c-popularSection__card {
  width: 80%;
  text-align: center;
  box-shadow: 5px 14px 15px -4px rgba(0, 0, 0, 0.63);
  margin: 0 auto;
  margin-bottom: 9rem; }
  @media (min-width: 600px) {
    .ao-c-popularSection__card {
      width: 50%; } }
  @media (min-width: 910px) {
    .ao-c-popularSection__card {
      flex: 0 0 30%; } }

.ao-c-popularSection__card--white {
  color: #1e5d69; }

.ao-c-popularSection__card--dark {
  background-color: #1e5d69;
  color: #fff; }

.ao-c-popularSection__background {
  min-height: 20rem;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
  background-position: center;
  background-size: cover; }

.ao-c-popularSection__background--1 {
  background-image: url(../../images/img-sea.jpg); }

.ao-c-popularSection__background--2 {
  background-image: url(../../images/img-snow.jpg); }

.ao-c-popularSection__background--3 {
  background-image: url(../../images/img-forest.jpg); }

.ao-c-popularSection__cardTitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1rem 0 3rem 0; }

.ao-c-popularSection__list {
  list-style: none; }

.ao-c-popularSection__offers {
  font-size: 1.4rem;
  width: 70%;
  margin: 0 auto; }
  .ao-c-popularSection__offers:not(:first-child) {
    padding-top: 1rem; }
  .ao-c-popularSection__offers:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid grey; }
  .ao-c-popularSection__offers:last-child {
    padding-bottom: 5rem; }

.ao-c-popularSection__offers--dark:not(:last-child) {
  border-bottom: 1px solid white; }

.ao-c-popularSection__button {
  font-size: 1.4rem;
  color: #fff;
  padding: 2rem 4rem;
  background-image: linear-gradient(90deg, #1e5d69 0%, #0093af 100%);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px; }

.ao-l-footer {
  background-color: #1e5d69;
  padding: 7rem 0 0 0; }

.ao-c-footer__navigation {
  display: flex;
  width: 70%;
  margin: 0 auto;
  list-style: none;
  justify-content: space-between;
  align-items: center; }

.ao-c-footer__navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold; }

.ao-c-footer__socialMedia {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 7rem 0 4rem 0; }

.ao-c-footer__socialMedia__icons {
  list-style: none; }

.ao-c-footer__socialMedia__iconLink {
  text-decoration: none;
  padding: 1rem; }

.ao-c-footer__socialMedia__icon {
  border-radius: 16px;
  fill: #fff;
  background-color: #0093af;
  padding: .3rem;
  width: 3rem;
  height: 3em; }

.ao-c-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b373c;
  padding: 1rem 5%; }

.ao-c-footer__copyright__logoBox {
  display: flex;
  align-items: center; }

.ao-c-footer__copyright__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  fill: #fff; }

.ao-c-footer__copyright__text {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase; }

.ao-c-footer__copyright__sign {
  color: #fff;
  font-size: 1.2rem; }
