*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.ao-l-header {
  background-color: #1e5d69;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  align-items: center; }
  @media (min-width: 600px) {
    .ao-l-header {
      flex-direction: row;
      justify-content: space-between; } }

.ao-c-logoBox {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1rem 0 0 0; }
  @media (min-width: 600px) {
    .ao-c-logoBox {
      padding: 1rem 0; } }

.ao-c-logoBox__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff; }

.ao-c-logoBox__text {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding-left: 1rem; }

.ao-c-navigation {
  padding: 1rem 0;
  align-items: center; }
  @media (min-width: 600px) {
    .ao-c-navigation {
      width: 60%; } }

.ao-c-navigation__list {
  list-style: none; }
  @media (min-width: 600px) {
    .ao-c-navigation__list {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%; } }

.ao-c-navigation__item {
  text-align: center; }
  .ao-c-navigation__item:not(:last-child) {
    margin-bottom: 1rem; }
    @media (min-width: 600px) {
      .ao-c-navigation__item:not(:last-child) {
        margin-bottom: 0; } }

.ao-c-navigation__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem; }

.ao-c-search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem 0; }

.ao-c-search__icon {
  height: 1.4rem;
  width: 1.4rem;
  fill: #fff; }

.ao-c-search__text {
  font-size: 1.4rem;
  padding-left: .5rem; }
