.ao-l-adventureSection {
    background-image: linear-gradient(rgba(0,147,175, 0.9), rgba(0,147,175,0.3)), url(../../images/img-bg-adventure.jpg);
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    padding: 10rem 5%; 

}

.ao-c-adventureSection__heading {
    font-size: 2rem;
    color: $color_white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
}

.ao-c-adventureSection__wrap {
    display: flex;
    flex-direction: column;

    @include respond(tab-land) {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

}

.ao-c-adventureSection__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, .8);
    margin-bottom: 2rem;
    text-align: center;

    @include respond(tab-land) {
        flex: 0 0 20%;
        margin-bottom: 0;
    }
}

.ao-c-card__icon {
    margin: 2rem 0;
    width: 5rem;
    height: 4rem;
    fill: $color_main;
}

.ao-c-adventureSection__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $color_main;
    margin-bottom: 2rem;
}

.ao-c-adventureSection__text {
    padding: 0 1rem;
    text-align: center;
    margin-bottom: 3rem;
}
